:root {
  --board-size: 280px;
  --cell-size: 40px;
  --board-color: #666;
}

:root[data-theme-mode='dark'] {
  --board-color: #999;
}

/*** board ***/
.board-wrapper {
  user-select: none;
}

.board {
  font-family: "Lora", "Times New Roman", serif;
  /* font-style: italic; */
  margin: 10px auto 0;
  width: var(--board-size);
  height: var(--board-size);
  border: 1px solid var(--board-color);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
}

.board-cell {
  padding: 8px 0 0;
  border: 1px solid var(--board-color);
  text-align: center;
}

.board-cell.null {
  background-color: var(--board-color);
}
.board-cell.today {
  background-color: var(--accent);
  color: var(--main-bg);
}

/*** ground ***/
.ground {
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.ground-item {
  width: 25%;
  height: 100px;
}

#footer, #footer-menu, #footer-sns-share {
  transform: translateY(-20px);
}

/*** puzzle piece ***/
.puzzle-piece {
  display: grid;
  gap: 0;
  position: absolute;
  transform: scale(0.4);
  transition: transform 200ms 0s ease;
  pointer-events: none;
}

.puzzle-piece#piece1, .puzzle-piece#piece2, .puzzle-piece#piece3 {
  grid-template-columns: repeat(2, 1fr);
}
.puzzle-piece#piece4, .puzzle-piece#piece5 {
  grid-template-columns: repeat(3, 1fr);
}
.puzzle-piece#piece6, .puzzle-piece#piece7, .puzzle-piece#piece8{
  grid-template-columns: repeat(3, 1fr);
}

.puzzle-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  opacity: 0.7;
  border: none;
  pointer-events: auto;
}

#piece1 .puzzle-cell {
  background-color: #66c3a6;
}
#piece2 .puzzle-cell {
  background-color: #fd8e62;
}
#piece3 .puzzle-cell {
  background-color: #8ea1cc;
}
#piece4 .puzzle-cell {
  background-color: #e88bc4;
}
#piece5 .puzzle-cell {
  background-color: #a7d954;
}
#piece6 .puzzle-cell {
  background-color: #ffda2f;
}
#piece7 .puzzle-cell {
  background-color: #e6c595;
}
#piece8 .puzzle-cell {
  background-color: #b4b4b4;
}

.puzzle-cell.null {
  visibility: hidden !important;
}
