:root {
  --main-text: #333;
  --sub-text: #999;
  --main-bg: #fff;
  --main-light: #ffeead;
  --main-dark: #ffdf5e;
  --accent: #d9534f;
  --main-width: 400px;
}

body {
  font-family: 'Kosugi Maru', "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: var(--main-text);
  background-color: var(--main-bg);

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom:0px;
}

.main-content {
  margin: 0px auto;
	max-width: var(--main-width);
}

/*** header ***/
h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 10px 0;
}

.dot-line {
  background: radial-gradient(circle farthest-side, var(--main-light), var(--main-light) 60%, transparent 60%, transparent);
  background-size: 6px 6px;
  content: '';
  display: inline-block;
  height: 6px;
  width: 90%;
  margin: 0 5%;
}

.subtitle {
  text-align: center;
  margin: 10px 0;
  float: none;
}

.links {
  margin-top: 10px;
  margin-right: 5%;
  float: right;
  white-space: nowrap;
}
.links a {
  text-decoration: none;
  color: var(--sub-text);
}

/*** footer ***/
#footer {
  font-size: 0.8em;
  text-align: center;
  margin: 20px 10px;
}

