:root {
  --main-text: #333;
  --sub-text: #999;
  --main-bg: #fff;
  --theme-light: #ffeead;
  --accent: #d9534f;
  --main-width: 400px;
}
:root[data-theme-mode='dark'] {
  --main-text: #eee;
  --main-bg: #222;
  --accent: #ffdf5e;
}

body {
  font-family: "Zen Maru Gothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  color: var(--main-text);
  background-color: var(--main-bg);
  transition: color 200ms, background-color 200ms;

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom:0px;
}

.main-content {
  margin: 0px auto;
	max-width: var(--main-width);
}

/*** header ***/
h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 10px 10px 0;
}

.dot-line {
  background: radial-gradient(circle farthest-side, var(--theme-light), var(--theme-light) 60%, transparent 60%, transparent);
  background-size: 6px 6px;
  content: '';
  display: inline-block;
  height: 6px;
  width: 90%;
  margin: 0 5%;
}

.links {
  position: absolute;
  top: 600px;
  right: 20px;
  white-space: nowrap;
}
.links a {
  text-decoration: none;
  color: var(--sub-text);
}

/*** mode switch ***/
input[type="checkbox"] {
  display: none;
}
.switch {
  position: absolute;
  top: 20px;
  right: 20px;
}
.switch label {
  cursor: pointer;
}
.switch svg {
  height: 24px;
  width: 24px;
  color: var(--color);
  transition: 200ms;
}
#switch-mode-dark svg {
  transform: scale(-1, 1);
}
#switch-mode-dark {
  display: none;
}
#js_mode_toggle:checked ~ label #switch-mode-dark {
  display: initial;
}
#js_mode_toggle:checked ~ label #switch-mode-light {
  display: none;
}

/*** overlay ***/
.overlay {
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
  align-items: center;
  transition: opacity .5s;
  display: flex;
  visibility: hidden;
  opacity: 0;
}

.overlay.is-open {
  visibility: visible;
  opacity: 1;
}

.overlay-window {
  margin: 0 auto;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: var(--main-bg);
  text-align: center;
  position: relative;
}

.overlay-window h2 {
  font-size: 1.5em;
  margin: 0;
}

.close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--sub-text);
}

/* info */
.overlay-window.overlay-window-info{
  height: 260px;
}

.info-table {
  display: inline-block;
  text-align: left;
  border-spacing: 10px;
  margin: 0;
}

.info-table th {
  font-size: 1.5em;
  color: var(--accent);
  vertical-align: top;
}

.author {
  font-size: 0.8em;
  text-align: center;
  margin: 10px 0;
}

/*** sns share ***/
.sns-share {
  text-align: center;
  margin-top: 5px;
}
.sns-share a {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0 5px;
}

.fa-brands, .fa-solid{
  font-size: 24px;
  padding: 0;
}
.fa-square-twitter {
  color: #1b95e0;
}
.fa-square-facebook {
  color: #3b5998;
}
.fa-line {
  color: #06C755;
}

/*** footer ***/
#footer, #footer-menu {
  font-size: 0.8em;
  text-align: center;
  margin: 10px;
}

#footer-menu a {
  text-decoration: none;
  color: var(--sub-text);
}
